<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huanletao.mapper.UserMapper">
<select id="selectUserCountByUserName" resultType="int">
  select count(user_id) from user where user_name=#{userName} and user_delete=0;
</select>
<select id="selectUserCountByUserPhone" resultType="int">
  select count(user_id) from user where user_phone=#{userPhone} and user_delete=0;
</select>
<insert id="insertRegisterUser" parameterType="User" >
	insert into user
	(user_id,user_name,user_password,user_phone,user_nickname,user_email,user_type,registertime,lastlogintime,user_delete) values
	(#{userId},#{userName},#{userPassword},#{userPhone},#{userNickname},#{userEmail},#{userType},#{registerTime},#{lastLoginTime},#{userDelete});
	</insert>
	<select id="selectUserCountByUsernameAndPassword" resultType="User">
	select * from user where user_name=#{userName} And user_password=#{userPassword} and user_delete=0; 
	</select>
	<select id="selectUserByPhone" resultType="User">
	select * from user where user_phone=#{userPhone} and user_delete=0; 
	</select>
	  <select id="getUserByIDS" resultType="User">
     select * from user where ID in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
          #{item}
     </foreach> and user_delete=0
   </select>   
    <select id="selectUserCounts" resultType="int">
    select count(ID) from user where user_delete=0;
    </select>
   <select id="selectUserList" resultType="User">
   select * from user where user_delete=0 limit #{start},#{rows};
   </select>
   <insert id="setLastLoginTime"  >
	Update user set lastlogintime=#{lastLoginTime} where user_id=#{userId};
	</insert>
 
<!--  <select id="selectUserCountByUserName" resultType="int">
		select count(user_id) from t_user where user_name=#{userName};
	</select>
	<insert id="insertUser" parameterType="User">
	insert into t_user
	(user_id,user_name,user_password,user_nickname,user_email,user_type) values
	(#{userId},#{userName},#{userPassword},#{userNickname},#{userEmail},#{userType});
	
	</insert>
	<select id="selectUserByUserNameAndPassword" parameterType="User"
	resultType="User">
	select * from t_user where user_name=#{userName}and user_password=#{userPassword};
	</select>-->	
</mapper>











